<h1>TEST</h1>
<div style="display: table">
  <div style="display: table-row">
    <div style="display: table-cell; white-space: nowrap;">
  <ul>
    <li>
      <a href="http://www.dcpcsb.org/node/4191">About Us</a>
      <ul>
        <li>
          <a href="http://www.dcpcsb.org/report/boardmeetings">Board Meetings and Public Hearings&nbsp;</a></li>
          <li>
            <a href="http://www.dcpcsb.org/pcsb-testimony">Testimony</a></li>
            <li>
              <a href="http://www.dcpcsb.org/report/pcsb-policies">Policy</a></li>
              <li>
                <a href="http://www.dcpcsb.org/pcsb-board">Board</a></li>
                <li>
                  <a href="http://www.dcpcsb.org/pcsb-staff">Staff</a></li>
                  <li>
                    <a href="http://www.dcpcsb.org/job-opportunities">Job Opportunities</a></li>
                  </ul>
                </li>
              </ul>
</div>
<div style="display: table-cell">
  <h2 style="text-align: center;"><strong>Who we are</strong></h2>
  <p>Our goal is to ensure that students and families in Washington, DC have access to quality public charter school education.&nbsp; We do that by setting tough academic standards, using a comprehensive charter application review process and effective oversight, providing meaningful support and actively involving parents, school leaders, the community and policy makers.</p>
  <p>Before PCSB permits a public charter school to open, the nonprofit proposing to run it must commit &ndash; in writing &ndash; to the contribution it will make to DC&rsquo;s educational landscape.&nbsp; If the nonprofit fails to meet its goals, we hold it accountable.&nbsp;&nbsp;</p>
  <p>Currently there are 112 public charter schools in Washington, DC, operated by 61 nonprofits, located in 94 separate facilities around the City.&nbsp;&nbsp;</p>
  <p>Created in 1996, PCSB is an independent body governed by the&nbsp;<a href="http://www.lexisnexis.com/hottopics/dccode/">School Reform Act</a>.&nbsp; The first public charter school opened in Washington, DC in&nbsp;1996.</p>
  <hr />
  <h2 style="text-align: center;"><strong><a href="http://www.dcpcsb.org/report/boardmeetings">Monthly Board Meetings and Public Hearings</a>&nbsp;</strong></h2>
  <p>PCSB holds meetings and hearings every month that are open to the public. View upcoming and previous meeting agendas, minutes and meeting&nbsp;materials.&nbsp;&nbsp;</p>
  <hr />
  <h2 style="text-align: center;"><strong><a href="http://www.dcpcsb.org/pcsb-testimony">Testimony</a></strong></h2>
  <p>View testimony from public hearings and roundtables.&nbsp;</p>
  <hr />
  <h2 style="text-align: center;"><strong><a href="http://www.dcpcsb.org/report/pcsb-policies">Policy</a></strong></h2>
  <p>View both approved and open for public comment&nbsp;PCSB policies.&nbsp;</p>
  <hr />
  <h2 style="text-align: center;"><a href="http://www.dcpcsb.org/pcsb-board"><strong>The Board</strong></a>&nbsp;</h2>
  <p>PCSB&nbsp;is governed by a seven-member Board, appointed by the Mayor, with the advice and consent of the DC Council. The volunteer Board approves new schools, oversees schools while in operation, and revokes school charters if they fail to meet their performance goals.</p>
  <hr />
  <h2 style="text-align: center;"><a href="http://www.dcpcsb.org/pcsb-staff"><strong>The Staff</strong></a></h2>
  <p>View a list of&nbsp;Public Charter School Board staff and their biographies.</p>
  <hr />
  <h2 style="text-align: center;"><a href="http://www.dcpcsb.org/job-opportunities"><strong>Job Opportunities</strong></a></h2>
  <p>View&nbsp;available job opportunities at PCSB and public charter schools.</p>
</div>
</div>
</div>
